<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250963798278-asm5urn944c761i7rqektdl17l2lggij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250963798278-asm5urn944c761i7rqektdl17l2lggij</string>
	<key>API_KEY</key>
	<string>AIzaSyBJL2Us6d83ykkfPKnFVxtVzCCtL57siD8</string>
	<key>GCM_SENDER_ID</key>
	<string>250963798278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ghibli</string>
	<key>PROJECT_ID</key>
	<string>compass-ghibli-app</string>
	<key>STORAGE_BUCKET</key>
	<string>compass-ghibli-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250963798278:ios:2a7779d1d6cfde6af91687</string>
</dict>
</plist>